:root {
  --color-light-orange: #fbe5d6;
  --color-dark-pink: #fc56e4;
  --color-light-pink: #ffa8b8;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbe5d6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fc56e4;
  font-size: 3rem;
  padding: 20px;
}

.logo {
  height: 200px;
}

nav {
  height: 50px;
  background-color: var(--color-light-orange);
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--color-dark-pink);
  font-size: 2rem;
  font-weight: 900;
}

nav a {
  cursor: pointer;
}

body {
  background-color: #ffa8b8;
}

.hidden {
  display: none;
}

.learning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
}

.prompt {
  background-color: white;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  margin: 10px auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  text-align: center;
  border: 3px solid rgb(255, 131, 22);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.user-text-container {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  text-align: center;
}

.user-text {
  width: 300px;
  resize: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
  font-size: x-large;
  overflow: hidden;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.keyboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  margin-top: 20px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  font-family: "Sunflower", sans-serif;
  font-weight: 90;
  font-size: 1.55rem;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.2);
  box-shadow: #ccc;
}

.key-upper-right {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
}

.keyboard .row-top {
  grid-row: 1;
}

.keyboard .row-middle {
  grid-row: 2;
}

.keyboard .row-bottom {
  grid-row: 3;
}

.row-top,
.row-middle,
.row-bottom {
  display: flex;
  justify-content: center;
}

.filler {
  opacity: 0;
  cursor: default;
}

.activated-key {
  background-color: aqua;
  border: 2px solid white;
}
