:root {
  --color-light-orange: #fbe5d6;
  --color-dark-pink: #fc56e4;
  --color-light-pink: #ffa8b8;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbe5d6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fc56e4;
  font-size: 3rem;
  padding: 20px;
}

.logo {
  width: 325px;
}

nav {
  height: 50px;
  background-color: var(--color-light-orange);
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--color-dark-pink);
  font-size: 2rem;
  font-weight: 900;
}

nav a {
  cursor: pointer;
}
nav a:hover {
  /* transform: translate(-2px, -2px); */
  transform: scale(1.2);
}

body {
  background-color: #ffa8b8;
}

.hidden {
  display: none;
}

.learning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
}

.prompt-container {
  background-color: white;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  margin: 10px auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  text-align: center;
  border: 3px solid #ff8316;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.prompt {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: -12px;
}

.user-text-container {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  text-align: center;
}

.next-btn {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-light-orange);
  border: 2px solid #ff8316;
  cursor: pointer;
}

.user-text {
  width: 300px;
  resize: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
  font-size: x-large;
  overflow: hidden;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.keyboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  margin-top: 20px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  font-family: "Sunflower", sans-serif;
  font-weight: 90;
  font-size: 1.55rem;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.2);
  box-shadow: #ccc;
  transition: background-color 0.5s;
}

.key.lightup {
  background-color: #8eff80 !important;
}

.key-upper-right {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
}

.keyboard .row-top {
  grid-row: 1;
}

.keyboard .row-middle {
  grid-row: 2;
}

.keyboard .row-bottom {
  grid-row: 3;
}

.row-top,
.row-middle,
.row-bottom {
  display: flex;
  justify-content: center;
}

.filler {
  opacity: 0;
  cursor: default;
}

.activated-key {
  background-color: aqua;
  border: 2px solid white;
}
/* Testing */
/* .dark-theme {
  --color-light-orange: #333333;
  --color-dark-pink: #660066;
  --color-light-pink: #993399;
  --color-background: #1f1f1f;
  --color-text: #ffffff;
} */

#bubbleContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.bubble-row {
  display: flex;
  justify-content: center;
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  /* background: linear-gradient(to bottom right, #a2e9ff 20%, #0999d7 80%); */
  background-color: var(--color-light-orange);
  color: var(--color-dark-pink);
  border-radius: 30%;
  border: 4px solid var(--color-dark-pink);
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bubble-heading {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  background-color: var(--color-dark-pink);
  width: 325px;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 5px;
}

.bubble:hover {
  transform: translate(-2px, -2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
/* Testing switch */
.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 20px;
  font-family: "Press Start 2P", cursive;
  background-color: darkgray;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px #333;
}

.switch-label {
  font-size: 16px;
  margin-bottom: 10px;
}

.switch {
  display: flex;
  align-items: center;
}

.switch input[type="radio"] {
  display: none;
}

.switch label {
  position: relative;
  padding: 10px 20px;
  background-color: #ccc;
  cursor: pointer;
  z-index: 2;
  opacity: 0.4;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switch input[type="radio"]:checked + label {
  background-color: #ffaf02;
  color: #333;
  box-shadow: 10 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: solid 2px red;
  opacity: 1;
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #555;
  transition: left 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: left 0.3s;
}

.switch input[type="radio"]:checked + label + .slider:before {
  left: 30px;
}
