:root {
  --color-gray: #5d5f71;
  --color-beige: #b4957e;
  --color-red: #db324d;
  --color-beige-highlight: #dcb9a0;
  --color-blue: #4ea5d9;
  --color-yellow: #f2c14e;
  --color-green: #5fad56;
  --font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-red);
  font-family: "Aoboshi One", serif;
  color: white;
  font-size: 3rem;
}
.banner h1 {
  font-size: 3rem;
}
.banner p {
  font-size: 1rem;
  margin-top: -25px;
}

.logo {
  width: 325px;
}

nav {
  height: 50px;
  background-color: var(--color-red);
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-family);
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

nav a {
  cursor: pointer;
}
nav a:hover {
  /* transform: translate(-2px, -2px); */
  transform: scale(1.2);
}

body {
  background-color: var(--color-gray);
}
/* main {
  display: flex;
} */
.hidden {
  display: none;
}

.slogan-container {
  font-family: var(--font-family);
}

.slogan-container h1 {
  font-size: 4.5rem;
  line-height: 1.35;
  margin-left: 10%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
}

.slogan-container h3 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  border: 2px dotted var(--color-gray);
  padding: 15px;
}

.slogan-container img {
  width: 100px;
  border-radius: 50%;
}

.learning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
}

.prompt-container {
  background-color: white;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  margin: 10px auto;
  font-family: var(--font-family);
  padding: 5px;
  text-align: center;
  border: 3px solid var(--color-red);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.prompt {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: -12px;
}

.user-text-container {
  padding: 20px;
  font-family: var(--font-family);
  color: white;
  text-align: center;
}

.next-btn {
  font-family: var(--font-family);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-blue);
  border: 2px solid var(--color-yellow);
  cursor: pointer;
  color: white;
}

.user-text {
  width: 300px;
  resize: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
  font-size: x-large;
  overflow: hidden;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.keyboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  margin-top: 20px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  font-family: "Sunflower", sans-serif;
  font-weight: 90;
  font-size: 1.55rem;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.2);
  box-shadow: #ccc;
  transition: background-color 0.5s;
}

.key.lightup {
  background-color: #8eff80 !important;
}

.key-upper-right {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
}

.keyboard .row-top {
  grid-row: 1;
}

.keyboard .row-middle {
  grid-row: 2;
}

.keyboard .row-bottom {
  grid-row: 3;
}

.row-top,
.row-middle,
.row-bottom {
  display: flex;
  justify-content: center;
}

.filler {
  opacity: 0;
  cursor: default;
}

.activated-key {
  background-color: aqua;
  border: 2px solid white;
}
/* Testing */
/* .dark-theme {
  --color-gray: #333333;
  --color-beige: #660066;
  --color-red: #993399;
  --color-background: #1f1f1f;
  --color-text: #ffffff;
} */

#bubbleContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.bubble-row {
  display: flex;
  justify-content: center;
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  /* background: linear-gradient(to bottom right, #a2e9ff 20%, #0999d7 80%); */
  background-color: var(--color-blue);
  color: white;
  border-radius: 30%;
  border: 4px solid var(--color-yellow);
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
  font-family: var(--font-family);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bubble-heading {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 900;
  background-color: var(--color-blue);
  width: 325px;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 5px;
}

.bubble:hover {
  transform: translate(-2px, -2px);
  background-color: var(--color-green);
}
/* Testing switch */
.switch-container {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin-top: 20px;
  font-family: "Press Start 2P", cursive;
  background-color: darkgray;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px #333;
}

.switch-label {
  font-size: 16px;
  margin-bottom: 10px;
}

.switch {
  display: flex;
  align-items: center;
}

.switch input[type="radio"] {
  display: none;
}

.switch label {
  position: relative;
  padding: 10px 20px;
  background-color: #ccc;
  cursor: pointer;
  z-index: 2;
  opacity: 0.4;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switch input[type="radio"]:checked + label {
  background-color: #ffaf02;
  color: #333;
  box-shadow: 10 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: solid 2px red;
  opacity: 1;
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #555;
  transition: left 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: left 0.3s;
}

.switch input[type="radio"]:checked + label + .slider:before {
  left: 30px;
}

/* Coding dropdown menu */
.dropdown-btn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-right: 8px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-container {
  /* position: relative;
  display: inline-block; */
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 60px;
  font-family: var(--font-family);
  right: 10%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid var(--color-red);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown-container:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-container:hover .dropdown-btn {
  background-color: var(--color-blue);
}

.hamburger-button {
  height: 30px;
  width: 30px;
  filter: invert(100%);
}

/* Media query for smaller screens */
@media screen and (max-width: 1100px) {
  nav {
    display: none;
  }
  .dropdown-container {
    position: absolute;
    display: block;
    right: 0%;
  }
}
